<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>{{ awayTeam.location }} vs. {{ homeTeam.location }}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	</head>
	
	<body>
	<div class="container">
	<div class="row">
	<div class="col xs-12 md-12">
	<h1>{{ awayTeam.location }} at {{ homeTeam.location }}</h1>
		<table class="table table-bordered table-sm">
			<thead><tr><th>TEAM</th>{% for h in header %}<th>{{ h }}</th>{% endfor %}</tr></thead>
			<tr><td>{{ awayTeam.location }}</td>{% for t in tops %}<td>{{ t }}</td>{% endfor %}</tr>
			<tr><td>{{ homeTeam.location }}</td>{% for b in bottoms %}<td>{{ b }}</td>{% endfor %}</tr>
		</table>
	</div>
	</div>
	<div class="row">
	<div class="col xs-12 md-12">
		<h2>{{ awayTeam.location }} Batters</h2>
	
		<table class="table table-bordered table-sm">
			<thead><tr><th>Batter</th><th>AB</th><th>H</th><th>RBI</th><th>BB</th><th>SO</th><th>AVG</th><th>OBP</th><th>SLG</th></tr></thead>
			{% for batter in awayTeam.lineup.battingOrder %}
			<tr><td><a href="https://twitter.com/{{ batter.name }}">{{ batter.fullName }}</a></td><td>{{ batters[batter]['AB'] }}</td><td>{{ batters[batter]['H'] }}</td><td>{{ batters[batter]['RBI'] }}</td><td>{{ batters[batter]['BB'] }}</td><td>{{ batters[batter]['strikeout'] }}</td><td>{{ batters[batter]['AVG'] }}</td><td>{{ batters[batter]['OBP'] }}</td><td>{{ batters[batter]['SLG'] }}</td></tr>
			{% endfor %}
		</table>
		<p><strong>| 2B:</strong> {% for batter in awayTeam.lineup.battingOrder %}{% if doubles[batter.name] == 1 %}{{ batter.name }}; {% elif doubles[batter.name] > 1 %} {{ batter.name }} ({{ doubles[batter.name] }});{% endif %}{% endfor %} | 
		<strong>3B:</strong> {% for batter in awayTeam.lineup.battingOrder %}{% if triples[batter.name] == 1 %}{{ batter.name }}; {% elif triples[batter.name] > 1 %} {{ batter.name }} ({{ triples[batter.name] }});{% endif %}{% endfor %} | 
		<strong>HR:</strong> {% for batter in awayTeam.lineup.battingOrder %}{% if homers[batter.name] == 1 %}{{ batter.name }}; {% elif homers[batter.name] > 1 %} {{ batter.name }} ({{ homers[batter.name] }});{% endif %}{% endfor %} | 
		<strong>HBP:</strong> {% for batter in awayTeam.lineup.battingOrder %}{% if hHBP[batter.name] == 1 %}{{ batter.name }}; {% elif hHBP[batter.name] > 1 %} {{ batter.name }} ({{ hHBP[batter.name] }});{% endif %}{% endfor %} | </p>
	</div>
	</div>
	<div class="row">
	<div class="col xs-12 md 12">
		<h2>{{ awayTeam.location }} Pitchers</h2>
		
		<table class="table table-bordered table-sm">
			<thead><tr><th>Pitcher</th><th>IP</th><th>H</th><th>R</th><th>BB</th><th>SO</th><th>HR</th><th>BF</th></tr></thead>
			{% for pitcher in awayTeam.lineup.pitchers %}
			{% if pitchers[pitcher]['BF'] > 0 %}<tr><td><a href="https://twitter.com/{{ pitcher.name }}">{{ pitcher.fullName }}</a></td><td>{{ pitchers[pitcher]['IP'] }}</td><td>{{ pitchers[pitcher]['H'] }}</td><td>{{ pitchers[pitcher]['R'] }}</td><td>{{ pitchers[pitcher]['BB'] }}</td><td>{{ pitchers[pitcher]['strikeout'] }}</td><td>{{ pitchers[pitcher]['HR'] }}</td><td>{{ pitchers[pitcher]['BF'] }}</td></tr>{% endif%}
			{% endfor %}
		</table>
	</div>
	</div>
		<div class="row">
	<div class="col xs-12 md-12">
		<h2>{{ homeTeam.location }} Batters</h2>
	
		<table class="table table-bordered table-sm">
			<thead><tr><th>Batter</th><th>AB</th><th>H</th><th>RBI</th><th>BB</th><th>SO</th><th>AVG</th><th>OBP</th><th>SLG</th></tr></thead>
			{% for batter in homeTeam.lineup.battingOrder %}
			<tr><td><a href="https://twitter.com/{{ batter.name }}">{{ batter.fullName }}</a></td><td>{{ batters[batter]['AB'] }}</td><td>{{ batters[batter]['H'] }}</td><td>{{ batters[batter]['RBI'] }}</td><td>{{ batters[batter]['BB'] }}</td><td>{{ batters[batter]['strikeout'] }}</td><td>{{ batters[batter]['AVG'] }}</td><td>{{ batters[batter]['OBP'] }}</td><td>{{ batters[batter]['SLG'] }}</td></tr>
			{% endfor %}
		</table>
		<p><strong>| 2B:</strong> {% for batter in homeTeam.lineup.battingOrder %}{% if doubles[batter.name] == 1 %}{{ batter.name }}; {% elif doubles[batter.name] > 1 %} {{ batter.name }} ({{ doubles[batter.name] }});{% endif %}{% endfor %} | 
		<strong>3B:</strong> {% for batter in homeTeam.lineup.battingOrder %}{% if triples[batter.name] == 1 %}{{ batter.name }}; {% elif triples[batter.name] > 1 %} {{ batter.name }} ({{ triples[batter.name] }});{% endif %}{% endfor %} | 
		<strong>HR:</strong> {% for batter in homeTeam.lineup.battingOrder %}{% if homers[batter.name] == 1 %}{{ batter.name }}; {% elif homers[batter.name] > 1 %} {{ batter.name }} ({{ homers[batter.name] }});{% endif %}{% endfor %} | 
		<strong>HBP:</strong> {% for batter in homeTeam.lineup.battingOrder %}{% if hHBP[batter.name] == 1 %}{{ batter.name }}; {% elif hHBP[batter.name] > 1 %} {{ batter.name }} ({{ hHBP[batter.name] }});{% endif %}{% endfor %} | </p>
	</div>
	</div>
	<div class="row">
	<div class="col xs-12 md 12">
		<h2>{{ homeTeam.location }} Pitchers</h2>
		
		<table class="table table-bordered table-sm">
			<thead><tr><th>Pitcher</th><th>IP</th><th>H</th><th>R</th><th>BB</th><th>SO</th><th>HR</th><th>BF</th></tr></thead>
			{% for pitcher in homeTeam.lineup.pitchers %}
			{% if pitchers[pitcher]['BF'] > 0 %}<tr><td><a href="https://twitter.com/{{ pitcher.name }}">{{ pitcher.fullName }}</a></td><td>{{ pitchers[pitcher]['IP'] }}</td><td>{{ pitchers[pitcher]['H'] }}</td><td>{{ pitchers[pitcher]['R'] }}</td><td>{{ pitchers[pitcher]['BB'] }}</td><td>{{ pitchers[pitcher]['strikeout'] }}</td><td>{{ pitchers[pitcher]['HR'] }}</td><td>{{ pitchers[pitcher]['BF'] }}</td></tr>{% endif%}
			{% endfor %}
		</table>
	</div>
	</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
	</body>
</html>