<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <style>
        #lineScore td, #lineScore th, #gameLog th {
            text-align: center;
        }

        .boxscore td:not(.playerName), .boxscore th {
            text-align: center;
        }

        .boxscore th, #lineScore th, #mainTitle, #gameLog th {
            font-weight: normal;
        }

        #gameLog td {
            vertical-align: middle;
        }

        .logNum {
            text-align: center;
        }
    </style>

    <title>{{ awayTeam.location }} {{ awayTeam.nickname }} vs. {{ homeTeam.location }} {{ homeTeam.nickname }}</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
	
	<body>
	<div class="container">
	    <div class="card border-primary mb-3 mt-2">
	    	<div class="card-header text-white bg-primary">
	    		<div class="h2" id="mainTitle">{{ awayTeam.location }} {{ awayTeam.nickname }} at {{ homeTeam.location }} {{ homeTeam.nickname }}</div>
	    	</div>
	    	<div class="card-body">
	    		<table id="lineScore" class="table table-bordered">
	    			<thead>
                        <tr class="bg-light">
                            <th>TEAM</th>
                            {% for h in header %}
                                <th>{{ h }}</th>
                            {% endfor %}
                            <th>T</th>
                        </tr>
                    </thead>
	    			<tr>
                        <td>{{ awayTeam.location }}</td>
                        {% for t in tops %}
                            <td>{{ t }}</td>
                        {% endfor %}
                        <td><strong>{{ game.awayScore }}</strong></td>
                    </tr>
	    			<tr>
                        <td>{{ homeTeam.location }}</td>
                        {% for b in bottoms %}
                            <td>{{ b }}</td>
                        {% endfor %}
                        <td><strong>{{ game.homeScore }}</strong></td>
                    </tr>
	    		</table>
	    	</div>
	    </div>

        <div class="card border-primary">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active lead" data-toggle="tab" role="tab" href="#awayBoxScore">
                            {{ awayTeam.location }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lead" data-toggle="tab" role="tab" href="#homeBoxScore">
                            {{ homeTeam.location }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lead" data-toggle="tab" role="tab" href="#gameLogTab">
                            Game Log
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="gameTabContent">
                    <div class="tab-pane fade show active" id="awayBoxScore" role="tabpanel">
                        <table class="table table-bordered boxscore">
                            <thead>
                                <tr class="bg-light">
                                    <th>BATTER</th>
                                    <th>POS</th>
                                    <th>AB</th>
                                    <th>H</th>
                                    <th>RBI</th>
                                    <th>BB</th>
                                    <th>SO</th>
                                    <th>AVG</th>
                                    <th>OBP</th>
                                    <th>SLG</th>
                                </tr>
                            </thead>
                            {% for batter in awayTeam.lineup.battingOrder %}
                            <tr>
                                <td class="playerName">
                                    <a href="https://twitter.com/{{ batter.name }}">{% if batter.sub == True %}*---{% endif %}{{ batter.fullName }}</a>
                                </td>
                                <td>{{ batter.position }}</td>
                                <td>{{ batter.battingGameStats['AB'] }}</td>
                                <td>{{ batter.battingGameStats['H'] }}</td>
                                <td>{{ batter.battingGameStats['RBI'] }}</td>
                                <td>{{ batter.battingGameStats['BB'] }}</td>
                                <td>{{ batter.battingGameStats['strikeout'] }}</td>
                                <td>{{ batter.battingGameStats['AVG'] }}</td>
                                <td>{{ batter.battingGameStats['OBP'] }}</td>
                                <td>{{ batter.battingGameStats['SLG'] }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <p>
                            <strong>| 2B:</strong> {% for batter in awayTeam.lineup.battingOrder %}{% if batter.battingGameStats['double'] == 1 %}{{ batter.fullName }}; {% elif batter.battingGameStats['double'] > 1 %} {{ batter.fullName }} ({{ batter.battingGameStats['double'] }}); {% endif %}{% endfor %} |
                            <strong>3B:</strong> {% for batter in awayTeam.lineup.battingOrder %}{% if batter.battingGameStats['triple'] == 1 %}{{ batter.fullName }}; {% elif batter.battingGameStats['triple'] > 1 %} {{ batter.fullName }} ({{ batter.battingGameStats['triple'] }}); {% endif %}{% endfor %} |
                            <strong>HR:</strong> {% for batter in awayTeam.lineup.battingOrder %}{% if batter.battingGameStats['HR'] == 1 %}{{ batter.fullName }}; {% elif batter.battingGameStats['HR'] > 1 %} {{ batter.fullName }} ({{ batter.battingGameStats['HR'] }}); {% endif %}{% endfor %} |
                            <strong>HBP:</strong> {% for batter in awayTeam.lineup.battingOrder %}{% if batter.battingGameStats['HBP'] == 1 %}{{ batter.fullName }}; {% elif batter.battingGameStats['HBP'] > 1 %} {{ batter.fullName }} ({{ batter.battingGameStats['HBP'] }}); {% endif %}{% endfor %} |
                        </p>

                        <table class="table table-bordered boxscore">
                            <thead>
                                <tr class="bg-light">
                                    <th>PITCHER</th>
                                    <th>IP</th>
                                    <th>H</th>
                                    <th>R</th>
                                    <th>BB</th>
                                    <th>SO</th>
                                    <th>HR</th>
                                    <th>BF</th>
                                </tr>
                            </thead>
                            {% for pitcher in awayTeam.lineup.usedPitchers %}
                            {% if pitcher.pitchingGameStats['BF'] > 0 %}
                            <tr>
                                <td class="playerName">
                                    <a href="https://twitter.com/{{ pitcher.name }}">{{ pitcher.fullName }}</a>
                                </td>
                                <td>{{ pitcher.pitchingGameStats['printIP'] }}</td>
                                <td>{{ pitcher.pitchingGameStats['H'] }}</td>
                                <td>{{ pitcher.pitchingGameStats['R'] }}</td>
                                <td>{{ pitcher.pitchingGameStats['BB'] }}</td>
                                <td>{{ pitcher.pitchingGameStats['strikeout'] }}</td>
                                <td>{{ pitcher.pitchingGameStats['HR'] }}</td>
                                <td>{{ pitcher.pitchingGameStats['BF'] }}</td>
                            </tr>{% endif%}
                            {% endfor %}
                        </table>
                    </div>

                    <div class="tab-pane fade" id="homeBoxScore" role="tabpanel">
                        <table class="table table-bordered boxscore">
                            <thead>
                                <tr class="bg-light">
                                    <th>BATTER</th>
                                    <th>POS</th>
                                    <th>AB</th>
                                    <th>H</th>
                                    <th>RBI</th>
                                    <th>BB</th>
                                    <th>SO</th>
                                    <th>AVG</th>
                                    <th>OBP</th>
                                    <th>SLG</th>
                                </tr>
                            </thead>
                            {% for batter in homeTeam.lineup.battingOrder %}
                            <tr>
                                <td class="playerName">
                                    <a href="https://twitter.com/{{ batter.name }}">{% if batter.sub == True %}*---{% endif %}{{ batter.fullName }}</a>
                                </td>
                                <td>{{ batter.position }}</td>
                                <td>{{ batter.battingGameStats['AB'] }}</td>
                                <td>{{ batter.battingGameStats['H'] }}</td>
                                <td>{{ batter.battingGameStats['RBI'] }}</td>
                                <td>{{ batter.battingGameStats['BB'] }}</td>
                                <td>{{ batter.battingGameStats['strikeout'] }}</td>
                                <td>{{ batter.battingGameStats['AVG'] }}</td>
                                <td>{{ batter.battingGameStats['OBP'] }}</td>
                                <td>{{ batter.battingGameStats['SLG'] }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <p>
                            <strong>| 2B:</strong> {% for batter in homeTeam.lineup.battingOrder %}{% if batter.battingGameStats['double'] == 1 %}{{ batter.fullName }}; {% elif batter.battingGameStats['double'] > 1 %} {{ batter.fullName }} ({{ batter.battingGameStats['double'] }}); {% endif %}{% endfor %} |
                            <strong>3B:</strong> {% for batter in homeTeam.lineup.battingOrder %}{% if batter.battingGameStats['triple'] == 1 %}{{ batter.fullName }}; {% elif batter.battingGameStats['triple'] > 1 %} {{ batter.fullName }} ({{ batter.battingGameStats['triple'] }}); {% endif %}{% endfor %} |
                            <strong>HR:</strong> {% for batter in homeTeam.lineup.battingOrder %}{% if batter.battingGameStats['HR'] == 1 %}{{ batter.fullName }}; {% elif batter.battingGameStats['HR'] > 1 %} {{ batter.fullName }} ({{ batter.battingGameStats['HR'] }}); {% endif %}{% endfor %} |
                            <strong>HBP:</strong> {% for batter in homeTeam.lineup.battingOrder %}{% if batter.battingGameStats['HBP'] == 1 %}{{ batter.fullName }}; {% elif batter.battingGameStats['HBP'] > 1 %} {{ batter.fullName }} ({{ batter.battingGameStats['HBP'] }}); {% endif %}{% endfor %} |
                        </p>

                        <table class="table table-bordered boxscore">
                            <thead>
                                <tr class="bg-light">
                                    <th>PITCHER</th>
                                    <th>IP</th>
                                    <th>H</th>
                                    <th>R</th>
                                    <th>BB</th>
                                    <th>SO</th>
                                    <th>HR</th>
                                    <th>BF</th>
                                </tr>
                            </thead>
                            {% for pitcher in homeTeam.lineup.usedPitchers %}
                            {% if pitcher.pitchingGameStats['BF'] > 0 %}
                            <tr>
                                <td class="playerName">
                                    <a href="https://twitter.com/{{ pitcher.name }}">{{ pitcher.fullName }}</a>
                                </td>
                                <td>{{ pitcher.pitchingGameStats['printIP'] }}</td>
                                <td>{{ pitcher.pitchingGameStats['H'] }}</td>
                                <td>{{ pitcher.pitchingGameStats['R'] }}</td>
                                <td>{{ pitcher.pitchingGameStats['BB'] }}</td>
                                <td>{{ pitcher.pitchingGameStats['strikeout'] }}</td>
                                <td>{{ pitcher.pitchingGameStats['HR'] }}</td>
                                <td>{{ pitcher.pitchingGameStats['BF'] }}</td>
                            </tr>
                            {% endif%}
                            {% endfor %}
                        </table>
                    </div>
                    <div class="tab-pane fade" id="gameLogTab" role="tabpanel">
                        <table id="gameLog" class="table table-bordered">
                            <thead>
                                <tr class="bg-light">
                                    <th>INN</th>
                                    <th>AWAY</th>
                                    <th>HOME</th>
                                    <th>PITCHER</th>
                                    <th>BATTER</th>
                                    <th>OUTS</th>
                                    <th>EVENT</th>
                                </tr>
                            </thead>
                            {% for pa in game.PAs %}
                            <tr>
                                <td class="logNum">{% if pa.top %}<i class="fa fa-angle-up text-success"></i> {{ pa.inning }}{% else %}<i class="fa fa-angle-down text-danger"></i> {{ pa.inning }}{% endif %}</td>
                                <td class="logNum">{{ pa.awayScore }}</td>
                                <td class="logNum">{{ pa.homeScore }}</td>
                                <td><a href="https://twitter.com/{{ pa.pitcher.name }}">{{ pa.pitcher.fullName }}</a></td>
                                <td><a href="https://twitter.com/{{ pa.batter.name }}">{{ pa.batter.fullName }}</a></td>
                                <td class="logNum">{{ pa.baseState.outs }}</td>
                                <td>{{ pa }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>