boto==2.45.0
certifi==2018.10.15
chardet==3.0.4
idna==2.7
Jinja2==2.9.4
MarkupSafe==0.23
marshmallow==2.16.2
oauthlib==2.0.1
pymongo==3.7.1
PySocks==1.6.8
python-dateutil==2.7.5
requests==2.20.0
requests-oauthlib==0.7.0
simplejson==3.16.0
six==1.10.0
tweepy==3.6.0
urllib3==1.24.1
